<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>EazyLearn</title>
</head>
<body>
<h1>Recent page</h1>
<!--TODO add header-menu-->

<!--TODO replace by carousel-->
<div th:each="card : ${allCards}">
	<table>
		<tr>
			<td th:text="${card.foreignWord}">foreign</td>
		</tr>
		<tr>
			<td th:text="${card.translateWord}">translate</td>
		</tr>
		<tr>
			<td>
				<a th:href="@{/cards/{id}/edit(id=${card.getId()})}">Edit</a>
			</td>
		</tr>
		<tr>
			<td>
<!--				<form th:method="DELETE" th:action="@{/cards/{id}(id=${card.getId()})(tab='recent')}">-->
				<form th:method="DELETE" th:action="@{/cards/{id}(id=${card.getId()},tab=${'recent'})}">
					<input type="submit" value="Delete!"/>
				</form>
			</td>
		</tr>
	
	
	</table>
	<br>
</div>

<!--TODO replace by popup-window form-->
<br><br>
<form th:method="POST" th:action="@{/cards?tab=recent}" th:object="${card}">
	<input type="text" id="foreign" required placeholder="Foreign" th:field="*{foreignWord}">
	
	<br>
	
	<input type="text" id="translate" required placeholder="Translate" th:field="*{translateWord}">
	
	<br>
	
	<input type="text" id="proficiency" placeholder="Proficiency" th:field="*{proficiencyLevel}">
	
	<br><br>
	<input type="submit" value="Create!">
</form>

</body>
</html>